* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

html {
  height: 100%;
}


.navbar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-top: 5%;
 
    
}

.navbar__item {
    height: 60px;
    margin-bottom: 5%;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.navbar__item:hover {
  transform: translatey(-4px);
}

#navbar__logo{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    background-image: linear-gradient(to top, #fcb045 0%, #833ab4 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: xx-large;
    transition: all 1s ease;

}

.navbar__links {
    color: #fff;
    display: flex;
    height: 100%;
    width: 125px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: large;
    flex-direction: row;
    transition: all 0.3s ease;
}

.navbar__links:active {
  transform: translatey(10px);
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    /*background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);*/
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    color: #fff;
    transition: all 0.3s ease;

}

.button:hover {
    color: black;
    box-shadow: 0 0 5px rgb(91, 156, 65);
    
}


.somestuff {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    transition: all 0.4s ease;
}

.navbar__links:hover {
    border-radius: 4px;
    /*background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    */
    color:#000000;
    transition: all 0.3s ease;
    
}

@media screen and (max-width: 960px) {
  .profile {
    background: rgb(3, 14, 9);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(78, 107, 92) 100%);
  }
}
.main__container {
    /*(align-items: center;*/
    display: flex;
    height: 100%;
    /*justify-content: space-around;*/
    
}

.profile {
  background: rgb(42,158,105);
  background: linear-gradient(90deg, rgba(42,158,105,1) 0%, rgba(55,177,113,1) 100%);
    align-items: center;
    /*padding-left: 1.5rem;
    padding-right: 1.5rem;*/
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 100vh;
    position: sticky;
    z-index: 999;
}

.profileImg {
    border-radius: 50%;
    margin-bottom: 1.5rem;
    width: 50%;
}


.main__heading {
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 1.5rem;
    display: flex;
    text-align: center;
    
}

.socials {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  padding-right: 10%;
  padding-left: 10%;
}

.socialLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialLogos:hover {
  width: 70%;
}

.socialLogos:active {
  width: 60%;
  transition: all 0.1s ease;
}

.linkLogos {
  width: 20px;
  margin-right: 1rem;


}
.socialLogos {
  width: 50%;
  transition: all 0.3s ease;
  
}
.navigation {
  margin-top: 10%;
  width: 100%;
  display: flex;
  background: rgb(42,158,105);
  background: linear-gradient(90deg, rgb(91, 184, 142) 0%, rgba(55,177,113,1) 100%);
  height: 100%;
  padding-right: 10px;
  flex-direction: column;
}


/* Main page styling */

.info {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
}
.button__container {
    width: 10%;
    align-items: center;
    justify-content: center;
    
}

.blurb {
  display: flex;
  flex-direction: row;
  background:rgb(248, 248, 248);
  width: 100%;
  padding-left: 5vw;
  padding-top: 3rem;
  justify-content: space-between;
  padding-right: 5vw;
  align-items: center;
}


.blurbButtonContainer {
  display:flex;
  flex-direction: row;
}
.infoButtonGreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  border-radius: 10px;
  border-width: 0px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background: rgb(42,158,105);
  background: linear-gradient(90deg, rgb(91, 184, 142) 0%, rgba(55,177,113,1) 100%);
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;
  text-decoration: none;

}


.infoButtonGreen:hover, .infoButtonDark:hover {
  box-shadow: 0 10px 10px rgba(0,0,0,0.15);
  transform: translatey(-3px);
}

.infoButtonGreen:active, .infoButtonDark:active {
  transform: translatey(5px);
}




.infoButtonDark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  border-radius: 10px;
  border-width: 0px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background: rgb(79,85,83);
  background: linear-gradient(90deg, rgba(79,85,83,1) 0%, rgba(104,113,108,1) 100%);
  color: white;
  transition: all 0.2s ease;
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: none;

}

.infoHeading {
  margin-bottom: 0.5rem;
  font-size: 38px;
}


.skills {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.skillcard {
  display: flex;
  width: 5rem;
  /*background:rgba(145, 145, 145, 0.089);*/
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 15px;
  height: 5rem;
  margin-bottom:1rem;
  transition: all 0.1s ease-out;
  flex-direction: column;
}

.pythonText, .reactText, .agileText, .javaText, .jsText, .cText, .htmlText, .cssText, .kubernetesText, .azureText, .terraformText {
  opacity: 0;
  transition: all 0.2s ease;
}

.toggleText {
  opacity: 1;
  transition: all 0.2s ease;
}


.skillcard:hover {
  transition: all 0.1s ease-in;
  transform: translatey(-5px);
}

.skillCardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;

}

.skillLogo {
  width: 60%;
  margin-bottom: 5px;
}

.smallLogo {
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.skillsText {
  cursor: default;
  transition: all 0.3s ease;
}

.skillsText:hover {
  transform: translatey(-5px);
}
.resume {
  width: 100%;
  background:rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

}

.resume2 {
  width: 100%;
  background:rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
}

.pdfobject-container {
  height: 95vh;
  width: 80%;
  max-width: 60rem;
  justify-content: center;
  align-items: center;
  background:rgb(255, 255, 255);
}

.portfolio {
  background:rgb(248, 248, 248);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-direction: column;
}

.projectCard__container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 70vw;
  flex-wrap: wrap;
}

.project__card {
  background: rgba(21, 62, 105, 0.823);
  width: 14vw;
  display: flex;
  height: 34vh;
  border-radius: 10%;
  
  flex-direction: column;
  transition: all 0.2s ease;
  position: relative;

}

.project__card:hover {
  box-shadow: 0 30px 30px rgba(0,0,0,0.15);
  transform: translatey(-4px);
}

.testImage {
  width: 100%;
  display: flex;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  position: absolute;
  height: 50%;
  /*
  filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
  */
}

.project__info {
  z-index: 1000;
  padding-top: 15.5vh;
  display: flex;
  flex-direction: column;
  margin-left: 0.8rem;

}
.project__button {
  width: 40%;
  height: 2rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10%;
  border: none;
  transition: all 0.1s ease;

}
.project__button:active {
  outline: none;
  transform: translatey(2px);
}
.project__button:focus {
  outline: none;
}

.projectInfoText {
  margin-top: 1rem;
  color: white;
}

.portfolioItems {
  min-height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3rem;
}

.portfolioItem {
  background-color: rgba(91, 93, 94, 0.062);
  width: 100%;
  padding: 5rem;
  height: 60vh;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  overflow-y: scroll;
  box-shadow:#000000;
}
.portfolioBlurb {
  width: 70%;
}

.resume_images {
  display: flex;
  flex-direction: row;
}

.project_skills {
  display: flex;
  padding: 10px;
  margin-left: auto;
  margin-right: 0px;
  padding-top: 10%;
}
